<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maternalmortality">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaternalMortality">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.maternalmortality"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <activity android:name=".ViewDoctorRecordActivity"></activity>
        <activity android:name=".ViewAssignedActivity" />
        <activity android:name=".AshaActivity" />
        <activity android:name=".InfoCard"></activity>
        <activity android:name=".AshaPatients" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".DataForDoctor" />
        <activity android:name=".ViewMoreDataActivity" />
        <activity android:name=".ViewDataIndividualActivity" />
        <activity android:name=".Dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ASHA_request" />
        <activity android:name=".ANMrequest" />
        <activity android:name=".NewUserActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".CollectDataActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".auth.AuthenticationActivity" />
    </application>

</manifest>